<?xml version="1.0" encoding="utf-8"?>
<Content Key="29e6d20f-ad5e-4896-bd54-6e4d22e34489" Alias="Affald og genbrug" Level="2">
  <Info>
    <Parent Key="dc757e91-a460-4a96-bdc9-81b5f806a059">Velkommen til Vejle Kommune</Parent>
    <Path>/VelkommenTilVejleKommune/AffaldOgGenbrug</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2026-05-20T09:40:24</CreateDate>
    <NodeName Default="Affald og genbrug">
      <Name Culture="da-DK">Affald og genbrug</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="da-DK">true</Published>
    </Published>
    <Schedule />
    <Template Key="eeee0001-0000-0000-0000-000000000006">servicePage</Template>
  </Info>
  <Properties>
    <additionalJsonLd>
      <Value><![CDATA[]]></Value>
    </additionalJsonLd>
    <body>
      <Value Culture="da-DK"><![CDATA[<p>Find afhentningsdage, åbningstider for genbrugspladser og bestil storskrald. Læs mere om vores service og selvbetjeningsmuligheder.</p>]]></Value>
    </body>
    <findings>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </findings>
    <headline>
      <Value Culture="da-DK"><![CDATA[Affald og genbrug]]></Value>
    </headline>
    <lastAuditAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </lastAuditAt>
    <metaGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </metaGeneratedBy>
    <metaTitle>
      <Value Culture="da-DK"><![CDATA[Affald og genbrug – Vejle Kommune]]></Value>
    </metaTitle>
    <schemaTypeOverride>
      <Value><![CDATA[]]></Value>
    </schemaTypeOverride>
    <selfServiceLinks>
      <Value Culture="da-DK"><![CDATA[Bestil tid · Find selvbetjening · Se ventetider]]></Value>
    </selfServiceLinks>
    <seoMetaDescription>
      <Value Culture="da-DK"><![CDATA[Find afhentningsdage, åbningstider for genbrugspladser og bestil storskrald.]]></Value>
    </seoMetaDescription>
    <summary>
      <Value Culture="da-DK"><![CDATA[Find afhentningsdage, åbningstider for genbrugspladser og bestil storskrald.]]></Value>
    </summary>
    <translationAcceptedAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationAcceptedAt>
    <translationGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationGeneratedBy>
  </Properties>
</Content>