<?xml version="1.0" encoding="utf-8"?>
<Content Key="6b76f6a9-0015-4435-92af-f4b241f51a12" Alias="Begivenheder" Level="2">
  <Info>
    <Parent Key="db751d22-ef4b-421d-8f4f-8a1eeaef75a8">Velkommen til Vejle Kommune</Parent>
    <Path>/VelkommenTilVejleKommune/Begivenheder</Path>
    <Trashed>false</Trashed>
    <ContentType>eventListPage</ContentType>
    <CreateDate>2026-05-19T13:40:24</CreateDate>
    <NodeName Default="Begivenheder">
      <Name Culture="da-DK">Begivenheder</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="da-DK">true</Published>
    </Published>
    <Schedule />
    <Template Key="eeee0001-0000-0000-0000-000000000004">eventListPage</Template>
  </Info>
  <Properties>
    <additionalJsonLd>
      <Value><![CDATA[]]></Value>
    </additionalJsonLd>
    <findings>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </findings>
    <headline>
      <Value Culture="da-DK"><![CDATA[Begivenheder i Vejle Kommune]]></Value>
    </headline>
    <introText>
      <Value Culture="da-DK"><![CDATA[Kommende arrangementer.]]></Value>
    </introText>
    <lastAuditAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </lastAuditAt>
    <metaGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </metaGeneratedBy>
    <metaTitle>
      <Value Culture="da-DK"><![CDATA[Begivenheder – Vejle Kommune]]></Value>
    </metaTitle>
    <schemaTypeOverride>
      <Value><![CDATA[]]></Value>
    </schemaTypeOverride>
    <seoMetaDescription>
      <Value Culture="da-DK"><![CDATA[Se kommende arrangementer og begivenheder i Vejle Kommune.]]></Value>
    </seoMetaDescription>
    <translationAcceptedAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationAcceptedAt>
    <translationGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationGeneratedBy>
  </Properties>
</Content>