<?xml version="1.0" encoding="utf-8"?>
<Content Key="aa8d4c8c-1350-4d58-b52d-0f873e6ec979" Alias="Bolig og byggeri" Level="2">
  <Info>
    <Parent Key="dc757e91-a460-4a96-bdc9-81b5f806a059">Velkommen til Vejle Kommune</Parent>
    <Path>/VelkommenTilVejleKommune/BoligOgByggeri</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2026-05-20T09:40:24</CreateDate>
    <NodeName Default="Bolig og byggeri">
      <Name Culture="da-DK">Bolig og byggeri</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="da-DK">true</Published>
    </Published>
    <Schedule />
    <Template Key="eeee0001-0000-0000-0000-000000000006">servicePage</Template>
  </Info>
  <Properties>
    <additionalJsonLd>
      <Value><![CDATA[]]></Value>
    </additionalJsonLd>
    <body>
      <Value Culture="da-DK"><![CDATA[<p>Byggetilladelser, BBR-oplysninger og adresseændringer. Læs mere om vores service og selvbetjeningsmuligheder.</p>]]></Value>
    </body>
    <findings>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </findings>
    <headline>
      <Value Culture="da-DK"><![CDATA[Bolig og byggeri]]></Value>
    </headline>
    <lastAuditAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </lastAuditAt>
    <metaGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </metaGeneratedBy>
    <metaTitle>
      <Value Culture="da-DK"><![CDATA[Bolig og byggeri – Vejle Kommune]]></Value>
    </metaTitle>
    <schemaTypeOverride>
      <Value><![CDATA[]]></Value>
    </schemaTypeOverride>
    <selfServiceLinks>
      <Value Culture="da-DK"><![CDATA[Bestil tid · Find selvbetjening · Se ventetider]]></Value>
    </selfServiceLinks>
    <seoMetaDescription>
      <Value Culture="da-DK"><![CDATA[Byggetilladelser, BBR-oplysninger og adresseændringer.]]></Value>
    </seoMetaDescription>
    <summary>
      <Value Culture="da-DK"><![CDATA[Byggetilladelser, BBR-oplysninger og adresseændringer.]]></Value>
    </summary>
    <translationAcceptedAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationAcceptedAt>
    <translationGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationGeneratedBy>
  </Properties>
</Content>