<?xml version="1.0" encoding="utf-8"?>
<Content Key="ef6c1605-91a8-43db-89cc-fc204d4dbc13" Alias="Borgermøde om byudvikling i Vejle Midtby" Level="3">
  <Info>
    <Parent Key="6b76f6a9-0015-4435-92af-f4b241f51a12">Begivenheder</Parent>
    <Path>/VelkommenTilVejleKommune/Begivenheder/BorgermoedeOmByudviklingIVejleMidtby</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2026-05-19T13:40:24</CreateDate>
    <NodeName Default="Borgermøde om byudvikling i Vejle Midtby">
      <Name Culture="da-DK">Borgermøde om byudvikling i Vejle Midtby</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="da-DK">true</Published>
    </Published>
    <Schedule />
    <Template Key="eeee0001-0000-0000-0000-000000000005">event</Template>
  </Info>
  <Properties>
    <additionalJsonLd>
      <Value><![CDATA[]]></Value>
    </additionalJsonLd>
    <body>
      <Value Culture="da-DK"><![CDATA[<p>Deltag i borgermøde om byudvikling i vejle midtby. Sted: Vejle Rådhus.</p>]]></Value>
    </body>
    <endDate>
      <Value><![CDATA[2026-06-02T15:40:24]]></Value>
    </endDate>
    <findings>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </findings>
    <headline>
      <Value Culture="da-DK"><![CDATA[Borgermøde om byudvikling i Vejle Midtby]]></Value>
    </headline>
    <lastAuditAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </lastAuditAt>
    <location>
      <Value Culture="da-DK"><![CDATA[Vejle Rådhus]]></Value>
    </location>
    <metaGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </metaGeneratedBy>
    <metaTitle>
      <Value Culture="da-DK"><![CDATA[Borgermøde om byudvikling i Vejle Midtby – Vejle Kommune]]></Value>
    </metaTitle>
    <schemaTypeOverride>
      <Value><![CDATA[]]></Value>
    </schemaTypeOverride>
    <seoMetaDescription>
      <Value Culture="da-DK"><![CDATA[Borgermøde om byudvikling i Vejle Midtby. Sted: Vejle Rådhus.]]></Value>
    </seoMetaDescription>
    <startDate>
      <Value><![CDATA[2026-06-02T13:40:24]]></Value>
    </startDate>
    <translationAcceptedAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationAcceptedAt>
    <translationGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationGeneratedBy>
  </Properties>
</Content>