<?xml version="1.0" encoding="utf-8"?>
<Content Key="f102a8d6-0954-4a0c-b4ab-6d7b6be01ece" Alias="Borgermøde om byudvikling i Vejle Midtby" Level="3">
  <Info>
    <Parent Key="d817f909-d5ab-481f-a361-3f603c031443">Begivenheder</Parent>
    <Path>/VelkommenTilVejleKommune/Begivenheder/BorgermoedeOmByudviklingIVejleMidtby</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2026-05-19T06:55:30</CreateDate>
    <NodeName Default="Borgermøde om byudvikling i Vejle Midtby">
      <Name Culture="da-DK">Borgermøde om byudvikling i Vejle Midtby</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="da-DK">true</Published>
    </Published>
    <Schedule />
    <Template Key="eeee0001-0000-0000-0000-000000000005">event</Template>
  </Info>
  <Properties>
    <additionalJsonLd>
      <Value><![CDATA[]]></Value>
    </additionalJsonLd>
    <body>
      <Value Culture="da-DK"><![CDATA[<p>Deltag i borgermøde om byudvikling i vejle midtby. Sted: Vejle Rådhus.</p>]]></Value>
    </body>
    <endDate>
      <Value><![CDATA[2026-06-02T08:55:30]]></Value>
    </endDate>
    <findings>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </findings>
    <headline>
      <Value Culture="da-DK"><![CDATA[Borgermøde om byudvikling i Vejle Midtby]]></Value>
    </headline>
    <lastAuditAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </lastAuditAt>
    <location>
      <Value Culture="da-DK"><![CDATA[Vejle Rådhus]]></Value>
    </location>
    <metaDescription>
      <Value Culture="da-DK"><![CDATA[Borgermøde om byudvikling i Vejle Midtby. Sted: Vejle Rådhus.]]></Value>
    </metaDescription>
    <metaGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </metaGeneratedBy>
    <metaTitle>
      <Value Culture="da-DK"><![CDATA[Borgermøde om byudvikling i Vejle Midtby – Vejle Kommune]]></Value>
    </metaTitle>
    <schemaTypeOverride>
      <Value><![CDATA[]]></Value>
    </schemaTypeOverride>
    <startDate>
      <Value><![CDATA[2026-06-02T06:55:30]]></Value>
    </startDate>
    <translationAcceptedAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationAcceptedAt>
    <translationGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationGeneratedBy>
  </Properties>
</Content>