<?xml version="1.0" encoding="utf-8"?>
<Content Key="e54050c5-ee17-40dc-b653-ff3af6bd1a16" Alias="Converted: Test subsite nyhed (1)" Level="3">
  <Info>
    <Parent Key="f56d5301-d94b-4c8d-b3e5-7698f5a59809">Nyheder</Parent>
    <Path>/VelkommenTilVejleKommune/Nyheder/ConvertedTestSubsiteNyhed1</Path>
    <Trashed>false</Trashed>
    <ContentType>accessibilityMetadata</ContentType>
    <CreateDate>2026-06-22T11:11:00</CreateDate>
    <NodeName Default="Converted: Test subsite nyhed (1)">
      <Name Culture="da-DK">Converted: Test subsite nyhed (1)</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="false">
      <Published Culture="da-DK">false</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <findings>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </findings>
    <lastAuditAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </lastAuditAt>
  </Properties>
</Content>