<?xml version="1.0" encoding="utf-8"?>
<Content Key="8750c1ae-f6bf-44f5-a434-7fe5f6775228" Alias="Converted: Test subsite nyhed" Level="3">
  <Info>
    <Parent Key="7d30beee-335f-4f65-9686-4f9e5ba0cb71">Subsite Nyheder (test)</Parent>
    <Path>/VelkommenTilVejleKommune/SubsiteNyhederTest/ConvertedTestSubsiteNyhed</Path>
    <Trashed>false</Trashed>
    <ContentType>veSubSiteNewsArticle</ContentType>
    <CreateDate>2026-06-22T11:59:47</CreateDate>
    <NodeName Default="Converted: Test subsite nyhed">
      <Name Culture="da-DK">Converted: Test subsite nyhed</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="false">
      <Published Culture="da-DK">false</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <body>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </body>
    <headline>
      <Value Culture="da-DK"><![CDATA[Test subsite nyhed]]></Value>
    </headline>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <publishedDate>
      <Value><![CDATA[]]></Value>
    </publishedDate>
    <subsiteCategory>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </subsiteCategory>
    <summary>
      <Value Culture="da-DK"><![CDATA[En kort beskrivelse]]></Value>
    </summary>
  </Properties>
</Content>