<?xml version="1.0" encoding="utf-8"?>
<Content Key="d70f0e7d-1805-474e-9238-1d771eb403e4" Alias="Converted: Test subsite nyhed (1)" Level="3">
  <Info>
    <Parent Key="f56d5301-d94b-4c8d-b3e5-7698f5a59809">Nyheder</Parent>
    <Path>/VelkommenTilVejleKommune/Nyheder/ConvertedTestSubsiteNyhed1</Path>
    <Trashed>false</Trashed>
    <ContentType>veSubSiteNewsArticle</ContentType>
    <CreateDate>2026-06-22T10:53:30</CreateDate>
    <NodeName Default="Converted: Test subsite nyhed (1)">
      <Name Culture="da-DK">Converted: Test subsite nyhed (1)</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="false">
      <Published Culture="da-DK">false</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <body>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </body>
    <headline>
      <Value Culture="da-DK"><![CDATA[Test subsite nyhed]]></Value>
    </headline>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <publishedDate>
      <Value><![CDATA[]]></Value>
    </publishedDate>
    <subsiteCategory>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </subsiteCategory>
    <summary>
      <Value Culture="da-DK"><![CDATA[En kort beskrivelse]]></Value>
    </summary>
  </Properties>
</Content>