<?xml version="1.0" encoding="utf-8"?>
<Content Key="395e0a80-fecd-4488-af28-fc9a381f4e5f" Alias="Converted: Test subsite nyhed (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/ConvertedTestSubsiteNyhed1</Path>
    <Trashed Parent="f56d5301-d94b-4c8d-b3e5-7698f5a59809">true</Trashed>
    <ContentType>veSubSiteNewsArticle</ContentType>
    <CreateDate>2026-06-22T07:00:29</CreateDate>
    <NodeName Default="Converted: Test subsite nyhed (1)">
      <Name Culture="da-DK">Converted: Test subsite nyhed (1)</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="false">
      <Published Culture="da-DK">false</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <body>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </body>
    <headline>
      <Value Culture="da-DK"><![CDATA[Test subsite nyhed]]></Value>
    </headline>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <publishedDate>
      <Value><![CDATA[]]></Value>
    </publishedDate>
    <subsiteCategory>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </subsiteCategory>
    <summary>
      <Value Culture="da-DK"><![CDATA[En kort beskrivelse]]></Value>
    </summary>
  </Properties>
</Content>