<?xml version="1.0" encoding="utf-8"?>
<Content Key="1d8c6073-c4c5-457a-9d96-d2c7fad15dfe" Alias="Globale accordions" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GlobaleAccordions</Path>
    <Trashed>false</Trashed>
    <ContentType>accordionGlobalFolder</ContentType>
    <CreateDate>2026-06-04T07:55:15</CreateDate>
    <NodeName Default="Globale accordions" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>