<?xml version="1.0" encoding="utf-8"?>
<Content Key="6e86b021-8fa9-48ce-808e-90c3eecb36eb" Alias="Hjælp til ældre" Level="2">
  <Info>
    <Parent Key="db751d22-ef4b-421d-8f4f-8a1eeaef75a8">Velkommen til Vejle Kommune</Parent>
    <Path>/VelkommenTilVejleKommune/HjaelpTilAeldre</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2026-05-19T13:40:24</CreateDate>
    <NodeName Default="Hjælp til ældre">
      <Name Culture="da-DK">Hjælp til ældre</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="da-DK">true</Published>
    </Published>
    <Schedule />
    <Template Key="eeee0001-0000-0000-0000-000000000006">servicePage</Template>
  </Info>
  <Properties>
    <additionalJsonLd>
      <Value><![CDATA[]]></Value>
    </additionalJsonLd>
    <body>
      <Value Culture="da-DK"><![CDATA[<p>Hjemmehjælp, plejehjem, hjælpemidler og forebyggende hjemmebesøg. Læs mere om vores service og selvbetjeningsmuligheder.</p>]]></Value>
    </body>
    <findings>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </findings>
    <headline>
      <Value Culture="da-DK"><![CDATA[Hjælp til ældre]]></Value>
    </headline>
    <lastAuditAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </lastAuditAt>
    <metaGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </metaGeneratedBy>
    <metaTitle>
      <Value Culture="da-DK"><![CDATA[Hjælp til ældre – Vejle Kommune]]></Value>
    </metaTitle>
    <schemaTypeOverride>
      <Value><![CDATA[]]></Value>
    </schemaTypeOverride>
    <selfServiceLinks>
      <Value Culture="da-DK"><![CDATA[Bestil tid · Find selvbetjening · Se ventetider]]></Value>
    </selfServiceLinks>
    <seoMetaDescription>
      <Value Culture="da-DK"><![CDATA[Hjemmehjælp, plejehjem, hjælpemidler og forebyggende hjemmebesøg.]]></Value>
    </seoMetaDescription>
    <summary>
      <Value Culture="da-DK"><![CDATA[Hjemmehjælp, plejehjem, hjælpemidler og forebyggende hjemmebesøg.]]></Value>
    </summary>
    <translationAcceptedAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationAcceptedAt>
    <translationGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationGeneratedBy>
  </Properties>
</Content>