<?xml version="1.0" encoding="utf-8"?>
<Content Key="a343b9c7-8fe5-40ed-9113-01707297bf93" Alias="Klimaplan 2030 vedtaget af byrådet" Level="3">
  <Info>
    <Parent Key="d617f2d2-7d89-40c6-ad3d-84cc16ec37cb">Nyheder</Parent>
    <Path>/VelkommenTilVejleKommune/Nyheder/Klimaplan2030VedtagetAfByraadet</Path>
    <Trashed>false</Trashed>
    <ContentType>newsArticle</ContentType>
    <CreateDate>2026-05-19T13:40:23</CreateDate>
    <NodeName Default="Klimaplan 2030 vedtaget af byrådet">
      <Name Culture="da-DK">Klimaplan 2030 vedtaget af byrådet</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="da-DK">true</Published>
    </Published>
    <Schedule />
    <Template Key="eeee0001-0000-0000-0000-000000000003">newsArticle</Template>
  </Info>
  <Properties>
    <additionalJsonLd>
      <Value><![CDATA[]]></Value>
    </additionalJsonLd>
    <body>
      <Value Culture="da-DK"><![CDATA[<p>Byrådet har enstemmigt vedtaget kommunens klimaplan med fokus på CO2-reduktion og grøn omstilling.</p><p>Læs mere på Vejle Kommunes website.</p>]]></Value>
    </body>
    <findings>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </findings>
    <headline>
      <Value Culture="da-DK"><![CDATA[Klimaplan 2030 vedtaget af byrådet]]></Value>
    </headline>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <lastAuditAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </lastAuditAt>
    <metaGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </metaGeneratedBy>
    <metaTitle>
      <Value Culture="da-DK"><![CDATA[Klimaplan 2030 vedtaget af byrådet – Vejle Kommune]]></Value>
    </metaTitle>
    <publishedDate>
      <Value><![CDATA[2026-05-17T13:40:23]]></Value>
    </publishedDate>
    <schemaTypeOverride>
      <Value><![CDATA[]]></Value>
    </schemaTypeOverride>
    <seoMetaDescription>
      <Value Culture="da-DK"><![CDATA[Byrådet har enstemmigt vedtaget kommunens klimaplan med fokus på CO2-reduktion og grøn omstilling.]]></Value>
    </seoMetaDescription>
    <summary>
      <Value Culture="da-DK"><![CDATA[Byrådet har enstemmigt vedtaget kommunens klimaplan med fokus på CO2-reduktion og grøn omstilling.]]></Value>
    </summary>
    <translationAcceptedAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationAcceptedAt>
    <translationGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationGeneratedBy>
  </Properties>
</Content>