<?xml version="1.0" encoding="utf-8"?>
<Content Key="b410a395-42fa-4c15-8a6c-d9ae5aa28929" Alias="Kontakt" Level="2">
  <Info>
    <Parent Key="5edf4253-d486-430b-b06e-c834a3c00043">Velkommen til Vejle Kommune</Parent>
    <Path>/VelkommenTilVejleKommune/Kontakt</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-05-19T06:55:30</CreateDate>
    <NodeName Default="Kontakt">
      <Name Culture="da-DK">Kontakt</Name>
    </NodeName>
    <SortOrder>8</SortOrder>
    <Published Default="true">
      <Published Culture="da-DK">true</Published>
    </Published>
    <Schedule />
    <Template Key="eeee0001-0000-0000-0000-000000000007">contentPage</Template>
  </Info>
  <Properties>
    <additionalJsonLd>
      <Value><![CDATA[]]></Value>
    </additionalJsonLd>
    <body>
      <Value Culture="da-DK"><![CDATA[<p>Kontakt Vejle Kommune via telefon, mail eller besøg Borgerservice på Vejle Rådhus.</p>]]></Value>
    </body>
    <findings>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </findings>
    <headline>
      <Value Culture="da-DK"><![CDATA[Kontakt]]></Value>
    </headline>
    <lastAuditAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </lastAuditAt>
    <metaDescription>
      <Value Culture="da-DK"><![CDATA[Kontakt Vejle Kommune via telefon, mail eller besøg Borgerservice på Vejle Rådhus.]]></Value>
    </metaDescription>
    <metaGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </metaGeneratedBy>
    <metaTitle>
      <Value Culture="da-DK"><![CDATA[Kontakt – Vejle Kommune]]></Value>
    </metaTitle>
    <schemaTypeOverride>
      <Value><![CDATA[]]></Value>
    </schemaTypeOverride>
    <translationAcceptedAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationAcceptedAt>
    <translationGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationGeneratedBy>
  </Properties>
</Content>