<?xml version="1.0" encoding="utf-8"?>
<Content Key="8f48cd4b-539f-45c1-a65e-52e91cee6d74" Alias="Kontakt" Level="2">
  <Info>
    <Parent Key="db751d22-ef4b-421d-8f4f-8a1eeaef75a8">Velkommen til Vejle Kommune</Parent>
    <Path>/VelkommenTilVejleKommune/Kontakt</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-05-19T13:40:24</CreateDate>
    <NodeName Default="Kontakt">
      <Name Culture="da-DK">Kontakt</Name>
    </NodeName>
    <SortOrder>8</SortOrder>
    <Published Default="true">
      <Published Culture="da-DK">true</Published>
    </Published>
    <Schedule />
    <Template Key="eeee0001-0000-0000-0000-000000000007">contentPage</Template>
  </Info>
  <Properties>
    <additionalJsonLd>
      <Value><![CDATA[]]></Value>
    </additionalJsonLd>
    <body>
      <Value Culture="da-DK"><![CDATA[<p>Kontakt Vejle Kommune via telefon, mail eller besøg Borgerservice på Vejle Rådhus.</p>]]></Value>
    </body>
    <findings>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </findings>
    <headline>
      <Value Culture="da-DK"><![CDATA[Kontakt]]></Value>
    </headline>
    <lastAuditAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </lastAuditAt>
    <metaGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </metaGeneratedBy>
    <metaTitle>
      <Value Culture="da-DK"><![CDATA[Kontakt – Vejle Kommune]]></Value>
    </metaTitle>
    <schemaTypeOverride>
      <Value><![CDATA[]]></Value>
    </schemaTypeOverride>
    <seoMetaDescription>
      <Value Culture="da-DK"><![CDATA[Kontakt Vejle Kommune via telefon, mail eller besøg Borgerservice på Vejle Rådhus.]]></Value>
    </seoMetaDescription>
    <translationAcceptedAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationAcceptedAt>
    <translationGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationGeneratedBy>
  </Properties>
</Content>