<?xml version="1.0" encoding="utf-8"?>
<Content Key="1597127f-21f0-4fe9-8221-af935b404600" Alias="Ny cykelsti åbner mellem Vejle og Bredsten (1) (3)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/NyCykelstiAabnerMellemVejleOgBredsten1</Path>
    <Trashed Parent="f56d5301-d94b-4c8d-b3e5-7698f5a59809">true</Trashed>
    <ContentType>translationMetadata</ContentType>
    <CreateDate>2026-06-22T09:47:21</CreateDate>
    <NodeName Default="Ny cykelsti åbner mellem Vejle og Bredsten (1) (3)">
      <Name Culture="da-DK">Ny cykelsti åbner mellem Vejle og Bredsten (1) (3)</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="false">
      <Published Culture="da-DK">false</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <translationAcceptedAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationAcceptedAt>
    <translationGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationGeneratedBy>
  </Properties>
</Content>