<?xml version="1.0" encoding="utf-8"?>
<Content Key="8a5286e1-50cd-4492-9467-736c3b3b3d2c" Alias="Ny cykelsti åbner mellem Vejle og Bredsten (1) (4)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/NyCykelstiAabnerMellemVejleOgBredsten14</Path>
    <Trashed Parent="f56d5301-d94b-4c8d-b3e5-7698f5a59809">true</Trashed>
    <ContentType>veSubSiteNewsArticle</ContentType>
    <CreateDate>2026-06-22T10:53:29</CreateDate>
    <NodeName Default="Ny cykelsti åbner mellem Vejle og Bredsten (1) (4)">
      <Name Culture="da-DK">Ny cykelsti åbner mellem Vejle og Bredsten (1) (4)</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="false">
      <Published Culture="da-DK">false</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <body>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </body>
    <headline>
      <Value Culture="da-DK"><![CDATA[Ny cykelsti åbner mellem Vejle og Bredsten]]></Value>
    </headline>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <publishedDate>
      <Value><![CDATA[2026-06-09T12:46:48]]></Value>
    </publishedDate>
    <subsiteCategory>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </subsiteCategory>
    <summary>
      <Value Culture="da-DK"><![CDATA[Borgmester klipper båndet til en 4,5 km ny cykelsti, der forbinder Vejle med Bredsten.]]></Value>
    </summary>
  </Properties>
</Content>