<?xml version="1.0" encoding="utf-8"?>
<Content Key="062c0edb-5962-4655-b26e-88c6751086cf" Alias="Ny cykelsti åbner mellem Vejle og Bredsten (1) (5)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/NyCykelstiAabnerMellemVejleOgBredsten15</Path>
    <Trashed Parent="f56d5301-d94b-4c8d-b3e5-7698f5a59809">true</Trashed>
    <ContentType>accessibilityMetadata</ContentType>
    <CreateDate>2026-06-22T11:10:59</CreateDate>
    <NodeName Default="Ny cykelsti åbner mellem Vejle og Bredsten (1) (5)">
      <Name Culture="da-DK">Ny cykelsti åbner mellem Vejle og Bredsten (1) (5)</Name>
    </NodeName>
    <SortOrder>8</SortOrder>
    <Published Default="false">
      <Published Culture="da-DK">false</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <findings>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </findings>
    <lastAuditAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </lastAuditAt>
  </Properties>
</Content>