<?xml version="1.0" encoding="utf-8"?>
<Content Key="3609b59c-706c-441d-ab15-974b76298c3b" Alias="Ny cykelsti åbner mellem Vejle og Bredsten" Level="3">
  <Info>
    <Parent Key="61b12423-9eb1-4fca-8018-7d53cd02bb29">Nyheder</Parent>
    <Path>/VelkommenTilVejleKommune/Nyheder/NyCykelstiAabnerMellemVejleOgBredsten</Path>
    <Trashed>false</Trashed>
    <ContentType>newsArticle</ContentType>
    <CreateDate>2026-05-19T12:52:17</CreateDate>
    <NodeName Default="Ny cykelsti åbner mellem Vejle og Bredsten">
      <Name Culture="da-DK">Ny cykelsti åbner mellem Vejle og Bredsten</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="da-DK">true</Published>
    </Published>
    <Schedule />
    <Template Key="eeee0001-0000-0000-0000-000000000003">newsArticle</Template>
  </Info>
  <Properties>
    <additionalJsonLd>
      <Value><![CDATA[]]></Value>
    </additionalJsonLd>
    <body>
      <Value Culture="da-DK"><![CDATA[<p>Borgmester klipper båndet til en 4,5 km ny cykelsti, der forbinder Vejle med Bredsten.</p><p>Læs mere på Vejle Kommunes website.</p>]]></Value>
    </body>
    <findings>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </findings>
    <headline>
      <Value Culture="da-DK"><![CDATA[Ny cykelsti åbner mellem Vejle og Bredsten]]></Value>
    </headline>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <lastAuditAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </lastAuditAt>
    <metaGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </metaGeneratedBy>
    <metaTitle>
      <Value Culture="da-DK"><![CDATA[Ny cykelsti åbner mellem Vejle og Bredsten – Vejle Kommune]]></Value>
    </metaTitle>
    <publishedDate>
      <Value><![CDATA[2026-05-19T12:52:17]]></Value>
    </publishedDate>
    <schemaTypeOverride>
      <Value><![CDATA[]]></Value>
    </schemaTypeOverride>
    <seoMetaDescription>
      <Value Culture="da-DK"><![CDATA[Borgmester klipper båndet til en 4,5 km ny cykelsti, der forbinder Vejle med Bredsten.]]></Value>
    </seoMetaDescription>
    <summary>
      <Value Culture="da-DK"><![CDATA[Borgmester klipper båndet til en 4,5 km ny cykelsti, der forbinder Vejle med Bredsten.]]></Value>
    </summary>
    <translationAcceptedAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationAcceptedAt>
    <translationGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationGeneratedBy>
  </Properties>
</Content>