<?xml version="1.0" encoding="utf-8"?>
<Content Key="36cdf289-11bd-451f-b08f-6d85aed6f981" Alias="Ny cykelsti åbner mellem Vejle og Bredsten" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NyCykelstiAabnerMellemVejleOgBredsten</Path>
    <Trashed>false</Trashed>
    <ContentType>veSubSiteNewsArticle</ContentType>
    <CreateDate>2026-06-17T11:32:22</CreateDate>
    <NodeName Default="Ny cykelsti åbner mellem Vejle og Bredsten">
      <Name Culture="da-DK">Ny cykelsti åbner mellem Vejle og Bredsten</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="false">
      <Published Culture="da-DK">false</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <body>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </body>
    <headline>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </headline>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <publishedDate>
      <Value><![CDATA[2026-06-09T12:46:48]]></Value>
    </publishedDate>
    <subsiteCategory>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </subsiteCategory>
    <summary>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </summary>
  </Properties>
</Content>