<?xml version="1.0" encoding="utf-8"?>
<Content Key="a4beb8cc-87e2-4ad7-84fe-203266e1b07b" Alias="Ny cykelsti åbner mellem Vejle og Bredsten" Level="3">
  <Info>
    <Parent Key="aad326ca-7247-4125-95cd-d6e2a4254517">Nyheder</Parent>
    <Path>/VelkommenTilVejleKommune/Nyheder/NyCykelstiAabnerMellemVejleOgBredsten</Path>
    <Trashed>false</Trashed>
    <ContentType>newsArticle</ContentType>
    <CreateDate>2026-05-19T06:55:29</CreateDate>
    <NodeName Default="Ny cykelsti åbner mellem Vejle og Bredsten">
      <Name Culture="da-DK">Ny cykelsti åbner mellem Vejle og Bredsten</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="da-DK">true</Published>
    </Published>
    <Schedule />
    <Template Key="eeee0001-0000-0000-0000-000000000003">newsArticle</Template>
  </Info>
  <Properties>
    <additionalJsonLd>
      <Value><![CDATA[]]></Value>
    </additionalJsonLd>
    <body>
      <Value Culture="da-DK"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EBorgmester klipper b\u00E5ndet til en 4,5 km ny cykelsti, der forbinder Vejle med Bredsten.\u003C/p\u003E\u003Cp\u003EL\u00E6s mere p\u00E5 Vejle Kommunes website.\u003C/p\u003E"
}]]></Value>
    </body>
    <findings>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </findings>
    <headline>
      <Value Culture="da-DK"><![CDATA[Ny cykelsti åbner mellem Vejle og Bredsten]]></Value>
    </headline>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <lastAuditAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </lastAuditAt>
    <metaDescription>
      <Value Culture="da-DK"><![CDATA[Borgmester klipper båndet til en 4,5 km ny cykelsti, der forbinder Vejle med Bredsten.]]></Value>
    </metaDescription>
    <metaGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </metaGeneratedBy>
    <metaTitle>
      <Value Culture="da-DK"><![CDATA[Ny cykelsti åbner mellem Vejle og Bredsten – Vejle Kommune]]></Value>
    </metaTitle>
    <publishedDate>
      <Value><![CDATA[2026-05-19T06:55:29]]></Value>
    </publishedDate>
    <schemaTypeOverride>
      <Value><![CDATA[]]></Value>
    </schemaTypeOverride>
    <summary>
      <Value Culture="da-DK"><![CDATA[Borgmester klipper båndet til en 4,5 km ny cykelsti, der forbinder Vejle med Bredsten.]]></Value>
    </summary>
    <translationAcceptedAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationAcceptedAt>
    <translationGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationGeneratedBy>
  </Properties>
</Content>