<?xml version="1.0" encoding="utf-8"?>
<Content Key="06bae5a4-9b55-418d-86a7-889deef41802" Alias="Nye åbningstider på Borgerservice" Level="3">
  <Info>
    <Parent Key="aad326ca-7247-4125-95cd-d6e2a4254517">Nyheder</Parent>
    <Path>/VelkommenTilVejleKommune/Nyheder/NyeAabningstiderPaaBorgerservice</Path>
    <Trashed>false</Trashed>
    <ContentType>newsArticle</ContentType>
    <CreateDate>2026-05-19T06:55:29</CreateDate>
    <NodeName Default="Nye åbningstider på Borgerservice">
      <Name Culture="da-DK">Nye åbningstider på Borgerservice</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="da-DK">true</Published>
    </Published>
    <Schedule />
    <Template Key="eeee0001-0000-0000-0000-000000000003">newsArticle</Template>
  </Info>
  <Properties>
    <additionalJsonLd>
      <Value><![CDATA[]]></Value>
    </additionalJsonLd>
    <body>
      <Value Culture="da-DK"><![CDATA[<p>Borgerservice udvider åbningstiderne om torsdagen for at imødekomme borgernes behov.</p><p>Læs mere på Vejle Kommunes website.</p>]]></Value>
    </body>
    <findings>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </findings>
    <headline>
      <Value Culture="da-DK"><![CDATA[Nye åbningstider på Borgerservice]]></Value>
    </headline>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <lastAuditAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </lastAuditAt>
    <metaDescription>
      <Value Culture="da-DK"><![CDATA[Borgerservice udvider åbningstiderne om torsdagen for at imødekomme borgernes behov.]]></Value>
    </metaDescription>
    <metaGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </metaGeneratedBy>
    <metaTitle>
      <Value Culture="da-DK"><![CDATA[Nye åbningstider på Borgerservice – Vejle Kommune]]></Value>
    </metaTitle>
    <publishedDate>
      <Value><![CDATA[2026-05-16T06:55:29]]></Value>
    </publishedDate>
    <schemaTypeOverride>
      <Value><![CDATA[]]></Value>
    </schemaTypeOverride>
    <summary>
      <Value Culture="da-DK"><![CDATA[Borgerservice udvider åbningstiderne om torsdagen for at imødekomme borgernes behov.]]></Value>
    </summary>
    <translationAcceptedAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationAcceptedAt>
    <translationGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationGeneratedBy>
  </Properties>
</Content>