<?xml version="1.0" encoding="utf-8"?>
<Content Key="866f139d-1d9a-4878-8305-376dccbb856c" Alias="Nye åbningstider på Borgerservice" Level="3">
  <Info>
    <Parent Key="7b142259-7169-464d-ae29-5bff3884cf3a">Nyheder</Parent>
    <Path>/VelkommenTilVejleKommune/Nyheder/NyeAabningstiderPaaBorgerservice</Path>
    <Trashed>false</Trashed>
    <ContentType>newsArticle</ContentType>
    <CreateDate>2026-05-20T09:40:23</CreateDate>
    <NodeName Default="Nye åbningstider på Borgerservice">
      <Name Culture="da-DK">Nye åbningstider på Borgerservice</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="da-DK">true</Published>
    </Published>
    <Schedule />
    <Template Key="eeee0001-0000-0000-0000-000000000003">newsArticle</Template>
  </Info>
  <Properties>
    <additionalJsonLd>
      <Value><![CDATA[]]></Value>
    </additionalJsonLd>
    <body>
      <Value Culture="da-DK"><![CDATA[<p>Borgerservice udvider åbningstiderne om torsdagen for at imødekomme borgernes behov.</p><p>Læs mere på Vejle Kommunes website.</p>]]></Value>
    </body>
    <findings>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </findings>
    <headline>
      <Value Culture="da-DK"><![CDATA[Nye åbningstider på Borgerservice]]></Value>
    </headline>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <lastAuditAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </lastAuditAt>
    <metaGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </metaGeneratedBy>
    <metaTitle>
      <Value Culture="da-DK"><![CDATA[Nye åbningstider på Borgerservice – Vejle Kommune]]></Value>
    </metaTitle>
    <publishedDate>
      <Value><![CDATA[2026-05-17T09:40:23]]></Value>
    </publishedDate>
    <schemaTypeOverride>
      <Value><![CDATA[]]></Value>
    </schemaTypeOverride>
    <seoMetaDescription>
      <Value Culture="da-DK"><![CDATA[Borgerservice udvider åbningstiderne om torsdagen for at imødekomme borgernes behov.]]></Value>
    </seoMetaDescription>
    <summary>
      <Value Culture="da-DK"><![CDATA[Borgerservice udvider åbningstiderne om torsdagen for at imødekomme borgernes behov.]]></Value>
    </summary>
    <translationAcceptedAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationAcceptedAt>
    <translationGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationGeneratedBy>
  </Properties>
</Content>