<?xml version="1.0" encoding="utf-8"?>
<Content Key="7b142259-7169-464d-ae29-5bff3884cf3a" Alias="Nyheder" Level="2">
  <Info>
    <Parent Key="dc757e91-a460-4a96-bdc9-81b5f806a059">Velkommen til Vejle Kommune</Parent>
    <Path>/VelkommenTilVejleKommune/Nyheder</Path>
    <Trashed>false</Trashed>
    <ContentType>newsListPage</ContentType>
    <CreateDate>2026-05-20T09:40:22</CreateDate>
    <NodeName Default="Nyheder">
      <Name Culture="da-DK">Nyheder</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="da-DK">true</Published>
    </Published>
    <Schedule />
    <Template Key="eeee0001-0000-0000-0000-000000000002">newsListPage</Template>
  </Info>
  <Properties>
    <additionalJsonLd>
      <Value><![CDATA[]]></Value>
    </additionalJsonLd>
    <findings>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </findings>
    <headline>
      <Value Culture="da-DK"><![CDATA[Nyheder fra Vejle Kommune]]></Value>
    </headline>
    <introText>
      <Value Culture="da-DK"><![CDATA[Seneste nyt fra kommunen.]]></Value>
    </introText>
    <lastAuditAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </lastAuditAt>
    <metaGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </metaGeneratedBy>
    <metaTitle>
      <Value Culture="da-DK"><![CDATA[Nyheder – Vejle Kommune]]></Value>
    </metaTitle>
    <schemaTypeOverride>
      <Value><![CDATA[]]></Value>
    </schemaTypeOverride>
    <seoMetaDescription>
      <Value Culture="da-DK"><![CDATA[Læs de seneste nyheder fra Vejle Kommune.]]></Value>
    </seoMetaDescription>
    <translationAcceptedAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationAcceptedAt>
    <translationGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationGeneratedBy>
  </Properties>
</Content>