<?xml version="1.0" encoding="utf-8"?>
<Content Key="6066720e-53c4-4837-9e79-b723f96a99ea" Alias="Om Vejle Kommune" Level="2">
  <Info>
    <Parent Key="db751d22-ef4b-421d-8f4f-8a1eeaef75a8">Velkommen til Vejle Kommune</Parent>
    <Path>/VelkommenTilVejleKommune/OmVejleKommune</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-05-19T13:40:24</CreateDate>
    <NodeName Default="Om Vejle Kommune">
      <Name Culture="da-DK">Om Vejle Kommune</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="da-DK">true</Published>
    </Published>
    <Schedule />
    <Template Key="eeee0001-0000-0000-0000-000000000007">contentPage</Template>
  </Info>
  <Properties>
    <additionalJsonLd>
      <Value><![CDATA[]]></Value>
    </additionalJsonLd>
    <body>
      <Value Culture="da-DK"><![CDATA[<p>Vejle Kommune er en dansk kommune i Region Syddanmark med ca. 117.000 indbyggere.</p>]]></Value>
    </body>
    <findings>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </findings>
    <headline>
      <Value Culture="da-DK"><![CDATA[Om Vejle Kommune]]></Value>
    </headline>
    <lastAuditAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </lastAuditAt>
    <metaGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </metaGeneratedBy>
    <metaTitle>
      <Value Culture="da-DK"><![CDATA[Om Vejle Kommune – Vejle Kommune]]></Value>
    </metaTitle>
    <schemaTypeOverride>
      <Value><![CDATA[]]></Value>
    </schemaTypeOverride>
    <seoMetaDescription>
      <Value Culture="da-DK"><![CDATA[Vejle Kommune er en dansk kommune i Region Syddanmark med ca. 117.000 indbyggere.]]></Value>
    </seoMetaDescription>
    <translationAcceptedAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationAcceptedAt>
    <translationGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationGeneratedBy>
  </Properties>
</Content>