<?xml version="1.0" encoding="utf-8"?>
<Content Key="ab2e1654-fc6d-4611-b5e5-3af4332ea2d8" Alias="Pas og kørekort" Level="2">
  <Info>
    <Parent Key="db751d22-ef4b-421d-8f4f-8a1eeaef75a8">Velkommen til Vejle Kommune</Parent>
    <Path>/VelkommenTilVejleKommune/PasOgKoerekort</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2026-05-19T13:40:24</CreateDate>
    <NodeName Default="Pas og kørekort">
      <Name Culture="da-DK">Pas og kørekort</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="da-DK">true</Published>
    </Published>
    <Schedule />
    <Template Key="eeee0001-0000-0000-0000-000000000006">servicePage</Template>
  </Info>
  <Properties>
    <additionalJsonLd>
      <Value><![CDATA[]]></Value>
    </additionalJsonLd>
    <body>
      <Value Culture="da-DK"><![CDATA[<p>Bestil tid til pas og kørekort hos Borgerservice. Læs mere om vores service og selvbetjeningsmuligheder.</p>]]></Value>
    </body>
    <findings>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </findings>
    <headline>
      <Value Culture="da-DK"><![CDATA[Pas og kørekort]]></Value>
    </headline>
    <lastAuditAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </lastAuditAt>
    <metaGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </metaGeneratedBy>
    <metaTitle>
      <Value Culture="da-DK"><![CDATA[Pas og kørekort – Vejle Kommune]]></Value>
    </metaTitle>
    <schemaTypeOverride>
      <Value><![CDATA[]]></Value>
    </schemaTypeOverride>
    <selfServiceLinks>
      <Value Culture="da-DK"><![CDATA[Bestil tid · Find selvbetjening · Se ventetider]]></Value>
    </selfServiceLinks>
    <seoMetaDescription>
      <Value Culture="da-DK"><![CDATA[Bestil tid til pas og kørekort hos Borgerservice.]]></Value>
    </seoMetaDescription>
    <summary>
      <Value Culture="da-DK"><![CDATA[Bestil tid til pas og kørekort hos Borgerservice.]]></Value>
    </summary>
    <translationAcceptedAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationAcceptedAt>
    <translationGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationGeneratedBy>
  </Properties>
</Content>