<?xml version="1.0" encoding="utf-8"?>
<Content Key="370fe2ac-046c-4395-8fc6-92a59617260b" Alias="Pas og kørekort" Level="2">
  <Info>
    <Parent Key="5edf4253-d486-430b-b06e-c834a3c00043">Velkommen til Vejle Kommune</Parent>
    <Path>/VelkommenTilVejleKommune/PasOgKoerekort</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2026-05-19T06:55:30</CreateDate>
    <NodeName Default="Pas og kørekort">
      <Name Culture="da-DK">Pas og kørekort</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="da-DK">true</Published>
    </Published>
    <Schedule />
    <Template Key="eeee0001-0000-0000-0000-000000000006">servicePage</Template>
  </Info>
  <Properties>
    <additionalJsonLd>
      <Value><![CDATA[]]></Value>
    </additionalJsonLd>
    <body>
      <Value Culture="da-DK"><![CDATA[<p>Bestil tid til pas og kørekort hos Borgerservice. Læs mere om vores service og selvbetjeningsmuligheder.</p>]]></Value>
    </body>
    <findings>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </findings>
    <headline>
      <Value Culture="da-DK"><![CDATA[Pas og kørekort]]></Value>
    </headline>
    <lastAuditAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </lastAuditAt>
    <metaDescription>
      <Value Culture="da-DK"><![CDATA[Bestil tid til pas og kørekort hos Borgerservice.]]></Value>
    </metaDescription>
    <metaGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </metaGeneratedBy>
    <metaTitle>
      <Value Culture="da-DK"><![CDATA[Pas og kørekort – Vejle Kommune]]></Value>
    </metaTitle>
    <schemaTypeOverride>
      <Value><![CDATA[]]></Value>
    </schemaTypeOverride>
    <selfServiceLinks>
      <Value Culture="da-DK"><![CDATA[Bestil tid · Find selvbetjening · Se ventetider]]></Value>
    </selfServiceLinks>
    <summary>
      <Value Culture="da-DK"><![CDATA[Bestil tid til pas og kørekort hos Borgerservice.]]></Value>
    </summary>
    <translationAcceptedAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationAcceptedAt>
    <translationGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationGeneratedBy>
  </Properties>
</Content>