<?xml version="1.0" encoding="utf-8"?>
<Content Key="393ee215-5b06-407c-bfa9-97c6bc51142e" Alias="Politik og demokrati" Level="2">
  <Info>
    <Parent Key="d5ab0270-1e4a-4e20-869a-69333a812edc">Velkommen til Vejle Kommune</Parent>
    <Path>/VelkommenTilVejleKommune/PolitikOgDemokrati</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-05-18T12:56:11</CreateDate>
    <NodeName Default="Politik og demokrati">
      <Name Culture="da-DK">Politik og demokrati</Name>
    </NodeName>
    <SortOrder>9</SortOrder>
    <Published Default="true">
      <Published Culture="da-DK">true</Published>
    </Published>
    <Schedule />
    <Template Key="eeee0001-0000-0000-0000-000000000007">contentPage</Template>
  </Info>
  <Properties>
    <additionalJsonLd>
      <Value><![CDATA[]]></Value>
    </additionalJsonLd>
    <body>
      <Value Culture="da-DK"><![CDATA[<p>Følg byrådets arbejde, læs dagsordener og deltag i kommunale høringer.</p>]]></Value>
    </body>
    <findings>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </findings>
    <headline>
      <Value Culture="da-DK"><![CDATA[Politik og demokrati]]></Value>
    </headline>
    <lastAuditAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </lastAuditAt>
    <metaDescription>
      <Value Culture="da-DK"><![CDATA[Følg byrådets arbejde, læs dagsordener og deltag i kommunale høringer.]]></Value>
    </metaDescription>
    <metaGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </metaGeneratedBy>
    <metaTitle>
      <Value Culture="da-DK"><![CDATA[Politik og demokrati – Vejle Kommune]]></Value>
    </metaTitle>
    <schemaTypeOverride>
      <Value><![CDATA[]]></Value>
    </schemaTypeOverride>
    <translationAcceptedAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationAcceptedAt>
    <translationGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationGeneratedBy>
  </Properties>
</Content>