<?xml version="1.0" encoding="utf-8"?>
<Content Key="5ec60b4b-b0eb-4a68-9966-2601680d35aa" Alias="Renovering af Vejle Bibliotek afsluttet" Level="3">
  <Info>
    <Parent Key="d617f2d2-7d89-40c6-ad3d-84cc16ec37cb">Nyheder</Parent>
    <Path>/VelkommenTilVejleKommune/Nyheder/RenoveringAfVejleBibliotekAfsluttet</Path>
    <Trashed>false</Trashed>
    <ContentType>newsArticle</ContentType>
    <CreateDate>2026-05-19T13:40:23</CreateDate>
    <NodeName Default="Renovering af Vejle Bibliotek afsluttet">
      <Name Culture="da-DK">Renovering af Vejle Bibliotek afsluttet</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="da-DK">true</Published>
    </Published>
    <Schedule />
    <Template Key="eeee0001-0000-0000-0000-000000000003">newsArticle</Template>
  </Info>
  <Properties>
    <additionalJsonLd>
      <Value><![CDATA[]]></Value>
    </additionalJsonLd>
    <body>
      <Value Culture="da-DK"><![CDATA[<p>Biblioteket genåbner efter seks måneders renovering med ny børneafdeling og café.</p><p>Læs mere på Vejle Kommunes website.</p>]]></Value>
    </body>
    <findings>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </findings>
    <headline>
      <Value Culture="da-DK"><![CDATA[Renovering af Vejle Bibliotek afsluttet]]></Value>
    </headline>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <lastAuditAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </lastAuditAt>
    <metaGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </metaGeneratedBy>
    <metaTitle>
      <Value Culture="da-DK"><![CDATA[Renovering af Vejle Bibliotek afsluttet – Vejle Kommune]]></Value>
    </metaTitle>
    <publishedDate>
      <Value><![CDATA[2026-05-18T13:40:23]]></Value>
    </publishedDate>
    <schemaTypeOverride>
      <Value><![CDATA[]]></Value>
    </schemaTypeOverride>
    <seoMetaDescription>
      <Value Culture="da-DK"><![CDATA[Biblioteket genåbner efter seks måneders renovering med ny børneafdeling og café.]]></Value>
    </seoMetaDescription>
    <summary>
      <Value Culture="da-DK"><![CDATA[Biblioteket genåbner efter seks måneders renovering med ny børneafdeling og café.]]></Value>
    </summary>
    <translationAcceptedAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationAcceptedAt>
    <translationGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationGeneratedBy>
  </Properties>
</Content>