<?xml version="1.0" encoding="utf-8"?>
<Content Key="37817b03-2487-4891-9db4-0dd404a1bd73" Alias="Renovering af Vejle Bibliotek afsluttet" Level="3">
  <Info>
    <Parent Key="aad326ca-7247-4125-95cd-d6e2a4254517">Nyheder</Parent>
    <Path>/VelkommenTilVejleKommune/Nyheder/RenoveringAfVejleBibliotekAfsluttet</Path>
    <Trashed>false</Trashed>
    <ContentType>newsArticle</ContentType>
    <CreateDate>2026-05-19T06:55:29</CreateDate>
    <NodeName Default="Renovering af Vejle Bibliotek afsluttet">
      <Name Culture="da-DK">Renovering af Vejle Bibliotek afsluttet</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="da-DK">true</Published>
    </Published>
    <Schedule />
    <Template Key="eeee0001-0000-0000-0000-000000000003">newsArticle</Template>
  </Info>
  <Properties>
    <additionalJsonLd>
      <Value><![CDATA[]]></Value>
    </additionalJsonLd>
    <body>
      <Value Culture="da-DK"><![CDATA[<p>Biblioteket genåbner efter seks måneders renovering med ny børneafdeling og café.</p><p>Læs mere på Vejle Kommunes website.</p>]]></Value>
    </body>
    <findings>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </findings>
    <headline>
      <Value Culture="da-DK"><![CDATA[Renovering af Vejle Bibliotek afsluttet]]></Value>
    </headline>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <lastAuditAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </lastAuditAt>
    <metaDescription>
      <Value Culture="da-DK"><![CDATA[Biblioteket genåbner efter seks måneders renovering med ny børneafdeling og café.]]></Value>
    </metaDescription>
    <metaGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </metaGeneratedBy>
    <metaTitle>
      <Value Culture="da-DK"><![CDATA[Renovering af Vejle Bibliotek afsluttet – Vejle Kommune]]></Value>
    </metaTitle>
    <publishedDate>
      <Value><![CDATA[2026-05-18T06:55:29]]></Value>
    </publishedDate>
    <schemaTypeOverride>
      <Value><![CDATA[]]></Value>
    </schemaTypeOverride>
    <summary>
      <Value Culture="da-DK"><![CDATA[Biblioteket genåbner efter seks måneders renovering med ny børneafdeling og café.]]></Value>
    </summary>
    <translationAcceptedAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationAcceptedAt>
    <translationGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationGeneratedBy>
  </Properties>
</Content>