<?xml version="1.0" encoding="utf-8"?>
<Content Key="2390470c-4d2f-4dc5-a50b-2da12d5ccb57" Alias="Site settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2026-05-18T12:56:11</CreateDate>
    <NodeName Default="Site settings" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[post@vejle.dk]]></Value>
    </contactEmail>
    <organizationName>
      <Value><![CDATA[Vejle Kommune]]></Value>
    </organizationName>
    <organizationUrl>
      <Value><![CDATA[https://vejle.dk]]></Value>
    </organizationUrl>
    <siteName>
      <Value><![CDATA[Vejle Kommune]]></Value>
    </siteName>
  </Properties>
</Content>