<?xml version="1.0" encoding="utf-8"?>
<Content Key="c0732e2c-56b9-4f15-b5dd-f1fee28b712a" Alias="Skolernes sommerferieaktiviteter for børn" Level="3">
  <Info>
    <Parent Key="61b12423-9eb1-4fca-8018-7d53cd02bb29">Nyheder</Parent>
    <Path>/VelkommenTilVejleKommune/Nyheder/SkolernesSommerferieaktiviteterForBoern</Path>
    <Trashed>false</Trashed>
    <ContentType>newsArticle</ContentType>
    <CreateDate>2026-05-19T12:52:19</CreateDate>
    <NodeName Default="Skolernes sommerferieaktiviteter for børn">
      <Name Culture="da-DK">Skolernes sommerferieaktiviteter for børn</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="da-DK">true</Published>
    </Published>
    <Schedule />
    <Template Key="eeee0001-0000-0000-0000-000000000003">newsArticle</Template>
  </Info>
  <Properties>
    <additionalJsonLd>
      <Value><![CDATA[]]></Value>
    </additionalJsonLd>
    <body>
      <Value Culture="da-DK"><![CDATA[<p>Kommunen tilbyder gratis sommerferieaktiviteter for børn i alderen 6-14 år.</p><p>Læs mere på Vejle Kommunes website.</p>]]></Value>
    </body>
    <findings>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </findings>
    <headline>
      <Value Culture="da-DK"><![CDATA[Skolernes sommerferieaktiviteter for børn]]></Value>
    </headline>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <lastAuditAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </lastAuditAt>
    <metaGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </metaGeneratedBy>
    <metaTitle>
      <Value Culture="da-DK"><![CDATA[Skolernes sommerferieaktiviteter for børn – Vejle Kommune]]></Value>
    </metaTitle>
    <publishedDate>
      <Value><![CDATA[2026-05-15T12:52:19]]></Value>
    </publishedDate>
    <schemaTypeOverride>
      <Value><![CDATA[]]></Value>
    </schemaTypeOverride>
    <seoMetaDescription>
      <Value Culture="da-DK"><![CDATA[Kommunen tilbyder gratis sommerferieaktiviteter for børn i alderen 6-14 år.]]></Value>
    </seoMetaDescription>
    <summary>
      <Value Culture="da-DK"><![CDATA[Kommunen tilbyder gratis sommerferieaktiviteter for børn i alderen 6-14 år.]]></Value>
    </summary>
    <translationAcceptedAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationAcceptedAt>
    <translationGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationGeneratedBy>
  </Properties>
</Content>