<?xml version="1.0" encoding="utf-8"?>
<Content Key="64f475ed-81bc-45b7-9bc8-670fc5ae2c03" Alias="Skole og dagtilbud" Level="2">
  <Info>
    <Parent Key="d5ab0270-1e4a-4e20-869a-69333a812edc">Velkommen til Vejle Kommune</Parent>
    <Path>/VelkommenTilVejleKommune/SkoleOgDagtilbud</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2026-05-18T12:56:10</CreateDate>
    <NodeName Default="Skole og dagtilbud">
      <Name Culture="da-DK">Skole og dagtilbud</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="da-DK">true</Published>
    </Published>
    <Schedule />
    <Template Key="eeee0001-0000-0000-0000-000000000006">servicePage</Template>
  </Info>
  <Properties>
    <additionalJsonLd>
      <Value><![CDATA[]]></Value>
    </additionalJsonLd>
    <body>
      <Value Culture="da-DK"><![CDATA[<p>Skriv barn op til dagtilbud, find skoledistrikter og kontakt skoler. Læs mere om vores service og selvbetjeningsmuligheder.</p>]]></Value>
    </body>
    <findings>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </findings>
    <headline>
      <Value Culture="da-DK"><![CDATA[Skole og dagtilbud]]></Value>
    </headline>
    <lastAuditAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </lastAuditAt>
    <metaDescription>
      <Value Culture="da-DK"><![CDATA[Skriv barn op til dagtilbud, find skoledistrikter og kontakt skoler.]]></Value>
    </metaDescription>
    <metaGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </metaGeneratedBy>
    <metaTitle>
      <Value Culture="da-DK"><![CDATA[Skole og dagtilbud – Vejle Kommune]]></Value>
    </metaTitle>
    <schemaTypeOverride>
      <Value><![CDATA[]]></Value>
    </schemaTypeOverride>
    <selfServiceLinks>
      <Value Culture="da-DK"><![CDATA[Bestil tid · Find selvbetjening · Se ventetider]]></Value>
    </selfServiceLinks>
    <summary>
      <Value Culture="da-DK"><![CDATA[Skriv barn op til dagtilbud, find skoledistrikter og kontakt skoler.]]></Value>
    </summary>
    <translationAcceptedAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationAcceptedAt>
    <translationGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationGeneratedBy>
  </Properties>
</Content>