<?xml version="1.0" encoding="utf-8"?>
<Content Key="f8cde82c-c637-47d3-a61d-5e5749f6fd9f" Alias="Sommerkoncert i Slotsbanken" Level="3">
  <Info>
    <Parent Key="abfe292e-14b3-408a-a402-229125a7a50d">Begivenheder</Parent>
    <Path>/VelkommenTilVejleKommune/Begivenheder/SommerkoncertISlotsbanken</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2026-05-19T12:52:20</CreateDate>
    <NodeName Default="Sommerkoncert i Slotsbanken">
      <Name Culture="da-DK">Sommerkoncert i Slotsbanken</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="da-DK">true</Published>
    </Published>
    <Schedule />
    <Template Key="eeee0001-0000-0000-0000-000000000005">event</Template>
  </Info>
  <Properties>
    <additionalJsonLd>
      <Value><![CDATA[]]></Value>
    </additionalJsonLd>
    <body>
      <Value Culture="da-DK"><![CDATA[<p>Deltag i sommerkoncert i slotsbanken. Sted: Slotsbanken, Vejle.</p>]]></Value>
    </body>
    <endDate>
      <Value><![CDATA[2026-06-18T14:52:19]]></Value>
    </endDate>
    <findings>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </findings>
    <headline>
      <Value Culture="da-DK"><![CDATA[Sommerkoncert i Slotsbanken]]></Value>
    </headline>
    <lastAuditAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </lastAuditAt>
    <location>
      <Value Culture="da-DK"><![CDATA[Slotsbanken, Vejle]]></Value>
    </location>
    <metaGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </metaGeneratedBy>
    <metaTitle>
      <Value Culture="da-DK"><![CDATA[Sommerkoncert i Slotsbanken – Vejle Kommune]]></Value>
    </metaTitle>
    <schemaTypeOverride>
      <Value><![CDATA[]]></Value>
    </schemaTypeOverride>
    <seoMetaDescription>
      <Value Culture="da-DK"><![CDATA[Sommerkoncert i Slotsbanken. Sted: Slotsbanken, Vejle.]]></Value>
    </seoMetaDescription>
    <startDate>
      <Value><![CDATA[2026-06-18T12:52:19]]></Value>
    </startDate>
    <translationAcceptedAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationAcceptedAt>
    <translationGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationGeneratedBy>
  </Properties>
</Content>