<?xml version="1.0" encoding="utf-8"?>
<Content Key="09502e6d-b13b-4fb2-b30c-fb3bbd0bcae8" Alias="Sommerkoncert i Slotsbanken" Level="3">
  <Info>
    <Parent Key="d817f909-d5ab-481f-a361-3f603c031443">Begivenheder</Parent>
    <Path>/VelkommenTilVejleKommune/Begivenheder/SommerkoncertISlotsbanken</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2026-05-19T06:55:30</CreateDate>
    <NodeName Default="Sommerkoncert i Slotsbanken">
      <Name Culture="da-DK">Sommerkoncert i Slotsbanken</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="da-DK">true</Published>
    </Published>
    <Schedule />
    <Template Key="eeee0001-0000-0000-0000-000000000005">event</Template>
  </Info>
  <Properties>
    <additionalJsonLd>
      <Value><![CDATA[]]></Value>
    </additionalJsonLd>
    <body>
      <Value Culture="da-DK"><![CDATA[<p>Deltag i sommerkoncert i slotsbanken. Sted: Slotsbanken, Vejle.</p>]]></Value>
    </body>
    <endDate>
      <Value><![CDATA[2026-06-18T08:55:30]]></Value>
    </endDate>
    <findings>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </findings>
    <headline>
      <Value Culture="da-DK"><![CDATA[Sommerkoncert i Slotsbanken]]></Value>
    </headline>
    <lastAuditAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </lastAuditAt>
    <location>
      <Value Culture="da-DK"><![CDATA[Slotsbanken, Vejle]]></Value>
    </location>
    <metaDescription>
      <Value Culture="da-DK"><![CDATA[Sommerkoncert i Slotsbanken. Sted: Slotsbanken, Vejle.]]></Value>
    </metaDescription>
    <metaGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </metaGeneratedBy>
    <metaTitle>
      <Value Culture="da-DK"><![CDATA[Sommerkoncert i Slotsbanken – Vejle Kommune]]></Value>
    </metaTitle>
    <schemaTypeOverride>
      <Value><![CDATA[]]></Value>
    </schemaTypeOverride>
    <startDate>
      <Value><![CDATA[2026-06-18T06:55:30]]></Value>
    </startDate>
    <translationAcceptedAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationAcceptedAt>
    <translationGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationGeneratedBy>
  </Properties>
</Content>