<?xml version="1.0" encoding="utf-8"?>
<Content Key="bca2479b-985c-492e-a95c-eabc2a7fc693" Alias="Sommerkoncert i Slotsbanken" Level="3">
  <Info>
    <Parent Key="b24c1b48-5585-4d4b-80e3-562576b2e9dd">Begivenheder</Parent>
    <Path>/VelkommenTilVejleKommune/Begivenheder/SommerkoncertISlotsbanken</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2026-05-20T09:40:23</CreateDate>
    <NodeName Default="Sommerkoncert i Slotsbanken">
      <Name Culture="da-DK">Sommerkoncert i Slotsbanken</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="da-DK">true</Published>
    </Published>
    <Schedule />
    <Template Key="eeee0001-0000-0000-0000-000000000005">event</Template>
  </Info>
  <Properties>
    <additionalJsonLd>
      <Value><![CDATA[]]></Value>
    </additionalJsonLd>
    <body>
      <Value Culture="da-DK"><![CDATA[<p>Deltag i sommerkoncert i slotsbanken. Sted: Slotsbanken, Vejle.</p>]]></Value>
    </body>
    <endDate>
      <Value><![CDATA[2026-06-19T11:40:23]]></Value>
    </endDate>
    <findings>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </findings>
    <headline>
      <Value Culture="da-DK"><![CDATA[Sommerkoncert i Slotsbanken]]></Value>
    </headline>
    <lastAuditAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </lastAuditAt>
    <location>
      <Value Culture="da-DK"><![CDATA[Slotsbanken, Vejle]]></Value>
    </location>
    <metaGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </metaGeneratedBy>
    <metaTitle>
      <Value Culture="da-DK"><![CDATA[Sommerkoncert i Slotsbanken – Vejle Kommune]]></Value>
    </metaTitle>
    <schemaTypeOverride>
      <Value><![CDATA[]]></Value>
    </schemaTypeOverride>
    <seoMetaDescription>
      <Value Culture="da-DK"><![CDATA[Sommerkoncert i Slotsbanken. Sted: Slotsbanken, Vejle.]]></Value>
    </seoMetaDescription>
    <startDate>
      <Value><![CDATA[2026-06-19T09:40:23]]></Value>
    </startDate>
    <translationAcceptedAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationAcceptedAt>
    <translationGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationGeneratedBy>
  </Properties>
</Content>