<?xml version="1.0" encoding="utf-8"?>
<Content Key="4a0c15c9-ac42-4a21-97f7-97ee402b2b7c" Alias="Sundhedsdag på Vejle Bibliotek" Level="3">
  <Info>
    <Parent Key="6b76f6a9-0015-4435-92af-f4b241f51a12">Begivenheder</Parent>
    <Path>/VelkommenTilVejleKommune/Begivenheder/SundhedsdagPaaVejleBibliotek</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2026-05-19T13:40:24</CreateDate>
    <NodeName Default="Sundhedsdag på Vejle Bibliotek">
      <Name Culture="da-DK">Sundhedsdag på Vejle Bibliotek</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="da-DK">true</Published>
    </Published>
    <Schedule />
    <Template Key="eeee0001-0000-0000-0000-000000000005">event</Template>
  </Info>
  <Properties>
    <additionalJsonLd>
      <Value><![CDATA[]]></Value>
    </additionalJsonLd>
    <body>
      <Value Culture="da-DK"><![CDATA[<p>Deltag i sundhedsdag på vejle bibliotek. Sted: Vejle Bibliotek.</p>]]></Value>
    </body>
    <endDate>
      <Value><![CDATA[2026-07-03T15:40:24]]></Value>
    </endDate>
    <findings>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </findings>
    <headline>
      <Value Culture="da-DK"><![CDATA[Sundhedsdag på Vejle Bibliotek]]></Value>
    </headline>
    <lastAuditAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </lastAuditAt>
    <location>
      <Value Culture="da-DK"><![CDATA[Vejle Bibliotek]]></Value>
    </location>
    <metaGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </metaGeneratedBy>
    <metaTitle>
      <Value Culture="da-DK"><![CDATA[Sundhedsdag på Vejle Bibliotek – Vejle Kommune]]></Value>
    </metaTitle>
    <schemaTypeOverride>
      <Value><![CDATA[]]></Value>
    </schemaTypeOverride>
    <seoMetaDescription>
      <Value Culture="da-DK"><![CDATA[Sundhedsdag på Vejle Bibliotek. Sted: Vejle Bibliotek.]]></Value>
    </seoMetaDescription>
    <startDate>
      <Value><![CDATA[2026-07-03T13:40:24]]></Value>
    </startDate>
    <translationAcceptedAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationAcceptedAt>
    <translationGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationGeneratedBy>
  </Properties>
</Content>