<?xml version="1.0" encoding="utf-8"?>
<Content Key="d5ab0270-1e4a-4e20-869a-69333a812edc" Alias="Velkommen til Vejle Kommune" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/VelkommenTilVejleKommune</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2026-05-18T12:56:09</CreateDate>
    <NodeName Default="Velkommen til Vejle Kommune">
      <Name Culture="da-DK">Velkommen til Vejle Kommune</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="da-DK">true</Published>
    </Published>
    <Schedule />
    <Template Key="eeee0001-0000-0000-0000-000000000001">homePage</Template>
  </Info>
  <Properties>
    <additionalJsonLd>
      <Value><![CDATA[]]></Value>
    </additionalJsonLd>
    <findings>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </findings>
    <headline>
      <Value Culture="da-DK"><![CDATA[Velkommen til Vejle Kommune]]></Value>
    </headline>
    <introText>
      <Value Culture="da-DK"><![CDATA[Vejle Kommune leverer service, information og digitale løsninger til borgere og virksomheder i Vejle, Egtved, Give, Jelling og Børkop.]]></Value>
    </introText>
    <lastAuditAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </lastAuditAt>
    <metaDescription>
      <Value Culture="da-DK"><![CDATA[Officielt website for Vejle Kommune – nyheder, selvbetjening og kontakt.]]></Value>
    </metaDescription>
    <metaGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </metaGeneratedBy>
    <metaTitle>
      <Value Culture="da-DK"><![CDATA[Vejle Kommune]]></Value>
    </metaTitle>
    <schemaTypeOverride>
      <Value><![CDATA[]]></Value>
    </schemaTypeOverride>
    <translationAcceptedAt>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationAcceptedAt>
    <translationGeneratedBy>
      <Value Culture="da-DK"><![CDATA[]]></Value>
    </translationGeneratedBy>
  </Properties>
</Content>