<?xml version="1.0" encoding="utf-8"?>
<MediaType Key="dddd0001-0000-0000-0000-000000000002" Alias="vejleDocument" Level="1">
  <Info>
    <Name>Vejle document</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Word/PDF document used as input by the Generative pipeline Pattern. Stored under /imports/.</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
  </Info>
  <GenericProperties>
    <GenericProperty>
      <Key>295700ad-c865-4205-926c-d0347978db6d</Key>
      <Name>Document file</Name>
      <Alias>umbracoFile</Alias>
      <Definition>215cb418-2153-4429-9aef-8c0f0041191b</Definition>
      <Type>Umbraco.UploadField</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="documentContent">Document</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Structure />
  <Tabs>
    <Tab>
      <Key>b8e2a7dd-f5d1-43ba-bca6-e7d4269818b8</Key>
      <Caption>Document</Caption>
      <Alias>documentContent</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</MediaType>