<?xml version="1.0" encoding="utf-8"?>
<Media Key="e9cb2b4e-5808-4c94-98fd-832b15ebad01" Alias="Cykelsti" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Cykelsti</Path>
    <Trashed>false</Trashed>
    <ContentType>vejleImage</ContentType>
    <CreateDate>2026-05-26T07:01:06</CreateDate>
    <NodeName Default="Cykelsti" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <altAcceptedAt>
      <Value><![CDATA[]]></Value>
    </altAcceptedAt>
    <altGeneratedBy>
      <Value><![CDATA[To voksne og to børn cykler på en grøn cykelsti omgivet af træer. Alle bruger hjelme.]]></Value>
    </altGeneratedBy>
    <altText>
      <Value><![CDATA[Cykelsti imellem Vejle og Bredsten]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.49802083333333336,
    "top": 0.5238095238095238
  },
  "crops": [],
  "src": "/media/gyxhtpzp/cykelsti.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>