<?xml version="1.0" encoding="utf-8"?>
<DataType Key="560068cc-aa97-49b2-bfc5-f264a3c9b1e6" Alias="Accordion Blocks" Level="1">
  <Info>
    <Name>Accordion Blocks</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "fbae52e3-32ad-4013-a04b-94b617cac010"
    }
  ]
}]]></Config>
</DataType>