<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cc020003-0000-0000-0000-000000000001" Alias="Accordion Global Element Picker" Level="1">
  <Info>
    <Name>Accordion Global Element Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultiUrlPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "accordionGlobalElement",
  "minNumber": 0,
  "maxNumber": 10,
  "startNode": {
    "type": "content"
  }
}]]></Config>
</DataType>
