<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cc020001-0000-0000-0000-000000000001" Alias="Accordion Items Block List" Level="1">
  <Info>
    <Name>Accordion Items Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "cc010001-0000-0000-0000-000000000001"
    }
  ],
  "useInlineEditingAsDefault": true
}]]></Config>
</DataType>
