<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e3b81e25-b556-49e7-81e7-44f88720e589" Alias="News article - Content Blocks - Block List" Level="1">
  <Info>
    <Name>News article - Content Blocks - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>