<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cc040002-0000-0000-0000-000000000001" Alias="Page Grid Block Grid" Level="1">
  <Info>
    <Name>Page Grid Block Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "cc040001-0000-0000-0000-000000000001",
      "label": "Hero Block",
      "columnSpanOptions": [{"columnSpan": 12}],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": false,
      "areas": []
    },
    {
      "contentElementTypeKey": "fbae52e3-32ad-4013-a04b-94b617cac010",
      "label": "Text Block",
      "columnSpanOptions": [{"columnSpan": 12}, {"columnSpan": 6}],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": false,
      "areas": []
    }
  ],
  "blockGroups": [],
  "gridColumns": 12,
  "layoutStylesheet": null,
  "createLabel": null
}]]></Config>
</DataType>
