<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ffff0001-0000-0000-0000-000000000003" Alias="SEO Meta Description (AI)" Level="1">
  <Info>
    <Name>SEO Meta Description (AI)</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Vejle.PropertyEditorUi.SeoMetaGenerator</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>